* {
	font-family: Verdana,Helvetica,sans-serif;
	vertical-align:top;
	box-sizing: border-box;
	font-weight: 400;
	padding: 0;
	margin: 0;
	text-decoration: none;
}
body {
	background: #888;
	font-size: 16px;
	color: #fff;
	height:1200vh;
}
header{
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	padding: 1rem  0;
	background: rgba(255,255,255,0.15);
}
nav {
	position: fixed;
	right: 1rem;
	top: 32%;
	width: 1.5rem;
	border-radius: 1.5rem;
	background: rgba(255,255,255,0.2);
	padding: 0.4rem 0.3rem;
}
nav a {
	float: left;
	display: inline-block;
	width: 0.9rem;
	height: 0.9rem;
	border-radius: 1rem;
	background: rgba(255,255,255,0.4);
	color: #333;
	transition: all 0.5s;
	position: relative;
	margin-bottom: 0.3rem;
	font-size: 0.85rem;
}
nav a:last-child {
	margin-bottom: 0;
}
nav a span {
	opacity: 0;
	position: absolute;
	right: 2.5rem;
	display: inline-block;
	padding: 0.25rem 0.5rem;
	background: rgba(255,255,255,0.5);
	transition: all 0.5s;
	border-radius: 0.25rem;
	width: 8rem;
	text-align: center;
}
nav a:hover, nav a:active, nav a.active {
	background: #fff;
}
nav a:hover span, nav a:active span, nav a.active span {
	opacity: 1;
	right: 1.5rem;
}
sup {
	font-size: 30%;
}
h1 {
	color: rgba(255,255,255,0.65);
}
p {
	font-size: 4rem;
}
h2,p{
	margin-bottom: 1rem; 
}
.tac {
	text-align: center;
}
.tal {
	text-align: left;
}
.tar {
	text-align: right;
}
section {
	flex-direction: column;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 100vh;
	color: rgba(255,255,255,0.8)
}
footer {
	line-height: 1.75rem;
	color: rgba(255,255,255,0.5)
}
footer a {
	color: rgba(255,255,255,0.8);
	/*backface-visibility: hidden;*/
	transition: 0.5s all ease;
	line-height: inherit;
	display: inline-block;
	position: relative;
	padding: 0 0.25rem;
}
footer a:hover, footer a:active{
	color: #fff;
	background: rgba(255,255,255,0.15);
}
footer a:after {
	background: rgba(255,255,255,0.8);
	height: 2px;
	width: 0;
	left: 0;
	content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
	transition: 0.3s all;
}
footer a:hover:after,footer a:active:after {
	width: 100%;
    left: 0;
}
.chart {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	padding: 2rem 0
}
.chart .left{
	width: 40%;
	display: inline-block;
	text-align: right;
}
.chart .middle {
	width: 10%;
	margin: 0 2%;
	display: inline-block;
	font-size: 2rem;
	color: #fff;
	word-break: break-all;
}
.chart .right{
	width: 40%;
	display: inline-block;
	text-align: left;
}
.chart svg {
	margin: 0.4rem 0.25rem;
}
@media (max-width: 480px) {
	body {
		font-size: 12px;
	}
	p {
		font-size: 2.75rem;
	}
	nav {
		right: 0.5rem;
		width: 1.2rem;
	}
	nav a {
		float: left;
		display: inline-block;
		width: 0.6rem;
		height: 0.6rem;
	}
	.chart svg {
		width: 2rem;
		height: 2rem;
	}
	.chart .middle {
		font-size: 1rem;
	}
}